<!DOCTYPE html>
<html>
  	<head>
  		<link rel="shortcut icon" href="/assets/logo_navegador-078edc6f29a5281add42750dae79d23fa1075cb18420191458525c2aeab9e89e.ico" />
   		<title>Celuprecios</title>
	    <%= csrf_meta_tags %>

	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	</head>

	  
	<body >
		<%= render "parcials/navigation_menu" %>
		
		<div class="row "  style="margin-top: 2em; ">
			<div class="row col-xs-2 " style="margin-top: 3em;">
				<div class="col-xs-12 div-border-right">
					<div class="center-xs ">
						<h2 class="no-margin top-space ">
							<%= image_tag "categorias.jpg" %>
						</h2>
					</div>
					<div class="row around-xs total-padding "  >
						<%= render "brands/brand" %>
					</div>
				</div>
				
			</div>
			<div class="col-xs">
				<div style="width: 90%; margin: 0 auto;">
					<div style="<%= "display: none; " if notice.nil? and alert.nil? %>" >
						<div class="row center-xs letra-times-new-roman">
							<p class="notice col-xs-8 no-margin"><%= notice %></p>
					    	<p class="alert col-xs-8 no-margin"><%= alert %></p>
						</div>
					</div>
 					<div class="row center-xs">
						<div id="results" class="col-xs-8" ></div>
					</div>
					<div id="principal">
						<%= render "parcials/login"%>
						<%= yield %>
					</div>
				</div>
			</div>
			<div class="row col-xs-2 center-xs" style="margin-top: 3em; ">
				<div class="col-xs-8 div-border-left">
					<%= image_tag "Boton_de_Blogs.jpg", class: "bottom-space", style: "margin-left: 20px;", style: ""%>
					<%= render "parcials/advertisement" %>
				</div>
				
			</div>
		</div>
	</body>
</html>
